@model School.Models.Subject

@{
    ViewData["Title"] = "Ndrysho";
    var curriculums = ViewBag.Curriculums as List<Curriculum>;
}

<h1>Ndrysho</h1>

<h4>Lenda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Emri</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label">Autori</label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="curriculums">Kurrikula:</label>

                <select asp-for="CurriculumId" class="form-control" id="curriculums">
                    <option value="">Zgjidh nje Kurrikule</option>
                    @foreach (var item in curriculums)
                    {
                        var isSelected = Model.CurriculumId == item.Id; 
                        <option selected="@isSelected" value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="CurriculumId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Kthehu</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
