@model School.Models.Curriculum

@{
    ViewData["Title"] = "Krijo Kurrikule";
}

<h1>Krijo</h1>

<h4>Kurrikula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Emri</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Pershkrimi</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weeks" class="control-label">Javet</label>
                <input asp-for="Weeks" type="number" class="form-control" />
                <span asp-validation-for="Weeks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label">Oret</label>
                <input asp-for="Hours" type="number" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Kthehu</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
